<h1><%= @product_model.name %></h1>

<dl>
  <strong><dt>Supplier:</dt></strong>
  <dd><%= @product_model.supplier.brand_name %></dd>

  <strong><dt>Weight:</dt></strong>
  <dd><%= @product_model.weight %>g</dd>

  <strong><dt>Dimension:</dt></strong>
  <dd><%= @product_model.width %>cm x <%= @product_model.height %>cm x <%= @product_model.depth %>cm</dd>

  <strong><dt>SKU:</dt></strong>
  <dd><%= @product_model.sku %></dd>
</dl>