<section id='warehouses'>
  <h2>Warehouses</h2>
  <p>
    <%= I18n.translate('hello') %>
  </p>
  <p>
    <%= I18n.localize Date.today %>
  </p>
  <div>
    <%= link_to 'Register Warehouse', new_warehouse_path %>
  </div>
  <% @warehouses.each do |w| %>
    <div>
      <h3><%= link_to w.name, w %></h3>
      <dl>
        <dt><strong>Code:</strong></dt>
        <dd><%= w.code %></dd>

        <dt><strong>City:</strong></dt>
        <dd> <%= w.city %></dd>
        
        <dt><strong>Area:</strong></dt>
        <dd><%= w.area %> m2</dd>        
      </dl>
    </div>
  <% end %>

  <% if @warehouses.empty? %>
    <p>There aren't registered warehouses!</p>
  <% end %>
</section>