<h1>Order Details</h1>
<h2>Order <%= @order.code %></h2>

<dl>
  <strong><dt>Destination Warehouse:</dt></strong>
  <dd><%= @order.warehouse.full_description %></dd>

  <strong><dt>Supplier:</dt></strong>
  <dd><%= @order.supplier.corporate_name %></dd>

  <strong><dt>Responsible User:</dt></strong>
  <dd><%= @order.user.description %></dd>

  <strong><dt>Expected Delivery Date:</dt></strong>
  <dd><%= @order.expected_delivery_date %></dd>

  <strong><dt>Status:</dt></strong>
  <dd><%= @order.status %></dd>
</dl>

<h2>Order Items</h2>

<p><%= link_to 'Add Item',  new_order_order_item_path(order_id: @order.id) %></p>
<hr>
<% @order.order_items.each do |item| %>
  <%= item.quantity %> x <%= item.product_model.name %>
<% end %>
<hr>
<% if @order.pending? %>
  <%= button_to 'Mark as delivered', delivered_order_path(@order.id) %>  
  <%= button_to 'Mark as canceled', canceled_order_path(@order.id) %>
<% end %>

<p><%= link_to 'Edit', edit_order_path %></p>