<h1>Code: <%= @warehouse.code %></h1>

<div>
  <strong>City: <%= @warehouse.city %></strong>
  <strong>Area: <%= @warehouse.area %> m2</strong>
  <strong>Address: <%= @warehouse.address %></strong>
  <strong>CEP: <%= @warehouse.cep %></strong>
  <strong>Description: <%= @warehouse.description %></strong>
</div>

<%= @warehouse.name %>