<h1>Code: <%= @warehouse.code %></h1>

<div>
  <dl>
    <dt><strong>Name:</strong></dt>
    <dd><%= @warehouse.name %></dd>

    <dt><strong>City:</strong></dt>
    <dd><%= @warehouse.city %></dd>

    <dt><strong>Area:</strong></dt>
    <dd><%= @warehouse.area %> m2</dd>

    <dt><strong>Address:</strong></dt>
    <dd><%= @warehouse.address %></dd>

    <dt><strong>CEP:</strong></dt>
    <dd><%= @warehouse.cep %></strong></dd>
    
    <dt><strong>Description:</strong></dt>
    <dd><%= @warehouse.description %></dd>    
  </dl>
</div>

<div>
  <%= link_to 'Edit', edit_warehouse_path(@warehouse) %>
</div>
<div>
  <p><%= button_to 'Delete', warehouse_path(@warehouse), method: :delete %></p>
</div>

<section id='stock-items'>
  <div>
    <h2>Stock Items</h2>
    <% @stocks.each_pair do |pm, quantity| %>
      <%= quantity %> x <%= pm.sku %>
    <% end %>
  </div>
</section>

<section id='item-withdrawal'>
  <div>
    <h2>Item Withdrawal</h2>
    <div class='withdrawal-form'>
      <%= form_with url: warehouse_stock_product_destinations_path(@warehouse.id) do |f| %>
        <div>
          <%= f.label :product_model_id, 'Item Withdrawal' %>
          <%= f.collection_select :product_model_id, @product_models, :id, :sku %>
        </div>
        <div>
          <%= f.label :recipient %>
          <%= f.text_field :recipient %>
        </div>
        <div>
          <%= f.label :address, 'Destination Address' %>
          <%= f.text_field :address %>
        </div>
        <div>
          <%= f.submit 'Confirm Withdrawal' %>
        </div>
      <% end %>
    </div>
  </div>
</section>