<h1>Code: <%= @warehouse.code %></h1>

<div>
  <dl>
    <dt><strong>Name:</strong></dt>
    <dd><%= @warehouse.name %></dd>

    <dt><strong>City:</strong></dt>
    <dd><%= @warehouse.city %></dd>

    <dt><strong>Area:</strong></dt>
    <dd><%= @warehouse.area %> m2</dd>

    <dt><strong>Address:</strong></dt>
    <dd><%= @warehouse.address %></dd>

    <dt><strong>CEP:</strong></dt>
    <dd><%= @warehouse.cep %></strong></dd>
    
    <dt><strong>Description:</strong></dt>
    <dd><%= @warehouse.description %></dd>    
  </dl>
</div>

<div>
  <%= link_to 'Edit', edit_warehouse_path(@warehouse) %>
</div>
<div>
  <p><%= button_to 'Delete', warehouse_path(@warehouse), method: :delete %></p>
</div>

<div>
  <h2>Stock Items</h2>
  <% @stocks.each_pair do |pm, quantity| %>
    <%= quantity %>x <%= pm.sku %>    
  <% end %>
</div>